# {{ ansible_managed }} by role {{ role_name }}"
{% for key, value in _groupmanagement.items() %}
{% if value.sudo | bool and value.state != "absent" %}
{% for line in value.sudo_rules %}
%{{ '%-25s' | format(key) }}     {{ line }}
{% endfor %}
{% endif %}
{% endfor %}