[global]
    ############################################
    # workgroup+realm MÜSSEN in Uppercase sein #
    ############################################
	workgroup                  = {{ _samba_ad_join_workgroup }}
	realm                      = {{ _samba_ad_join_realm }}
	security                   = ADS
	encrypt passwords          = yes
	client signing             = auto
	server signing             = auto
	log file                   = /var/log/samba/%m.log
	log level                  = 1
 
	winbind refresh tickets    = Yes
	winbind use default domain = Yes
	winbind enum users         = Yes
	winbind enum groups        = Yes
	winbind nested groups      = Yes
	winbind offline logon      = Yes 
	winbind cache time         = 300
 
    ####################################################################
    # Die RFC2307 Attribute speichern neben der uid und guid           #
    # auch die Shell Variante und den Pfad zum /home                   #
    # uid+guid sind absolut Pflicht, das diese im AD vorhanden sind.   #
    # Die anderen beiden sind nicht Pflicht und sollten die nicht      #
    # da sein, so werden die Werte aus den 2 template Optionen genutzt #
    # da dies als eine art lokale Entscheidung zu verstehen ist.       #
    # uid+gid MÜSSEN natürlich überall gleich sein                     #
    # Warum das Skript die Shell/Home Attribute nicht setzt...kA       #
    ####################################################################
	template shell             = /bin/bash
	template homedir           = /home/%U
 
	idmap config HOMELAB : backend            = ad
	idmap config HOMELAB : schema_mode        = rfc2307
	idmap config HOMELAB : unix_nss_info      = yes
	idmap config HOMELAB : unix_primary_group = yes
	idmap config HOMELAB : range              = 10000 - 50000
 
    ##############################################
    # Die Einträge sind zwingend, range beachten #
    ##############################################
	idmap config *       : backend            = tdb 
	idmap config *       : range              = 5000 - 9999