# {{ ansible_managed }} by role {{ role_name }}"
if [[ ${USER} == "root" ]]; then
    PS1="\[\e[1;31m\]\u@\h\[\e[0m\]:\[\e[1;34m\]\w\[\e[0m\]\[\e[1;37m\]\$\[\e[0m\] "
else
    PS1="\[\e[1;32m\]\u@\h\[\e[0m\]:\[\e[1;34m\]\w\[\e[0m\]\[\e[1;37m\]\$\[\e[0m\] "
fi
