# {{ ansible_managed }}
source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto {{ _network_classic.value.name }}
allow-hotplug {{ _network_classic.value.name }}
iface {{ _network_classic.value.name }} inet static
address {{ _network_classic.value.address_1 }}
netmask {{ _network_classic.value.subnet_1 }}
gateway {{ _network_classic.value.gateway4 }}
