# {{ ansible_managed }}
{% if _resolv_domain != "" %}
domain {{ _resolv_domain }}
{% endif %}
{% if _resolv_search | length > 0 %}
search {{ _resolv_search|join(' ') }}
{% endif %}
{% for ns in _resolv_nameservers %}
nameserver {{ ns }}
{% endfor %}
{% if _resolv_options | length > 0 %}
options {{ _resolv_options|join(' ') }}
{% endif %}
