# This file describes the network interfaces available on your system
# For more information, see netplan(5).
network:
  version: {{ _netplan_version }}
  renderer: {{ _netplan_renderer }}
  ethernets:
    {{ _netplanvars.value.name }}:
      addresses: [{{ _netplanvars.value.address_1 }}/{{ _netplanvars.value.subnet_1 }}]
      gateway4: {{ _netplanvars.value.gateway4 }}
      nameservers:              
        search: [{{ _netplanvars.value.searchdomain_1 }}]
        addresses: [{% for dns_ip in _netplanvars.value.nameserver %}{{dns_ip|ipaddr}}{% if not loop.last %}, {% endif %}{% endfor %}]
        