127.0.0.1      localhost
 
{{ _netplanvars.value.address_1|ipaddr }}    {{ _dns_fqdn }} {{ _dns_hostname }}
 
# The following lines are desirable for IPv6 capable hosts
::1            localhost ip6-localhost ip6-loopback
ff02::1        ip6-allnodes
ff02::2        ip6-allrouters
