
Protocol                        2
Port                            {{ _openssh_Port }}
AddressFamily                   {{ _openssh_AddressFamily }}
listenaddress                   {{ _openssh_listenaddress }}

Ciphers                         {{ _openssh_Ciphers }}
fingerprinthash                 {{ _openssh_fingerprinthash }}
KexAlgorithms                   {{ _openssh_KexAlgorithms }}
MACs                            {{ _openssh_MACs }}
HostKey                         /etc/ssh/ssh_host_ecdsa_key
HostKey                         /etc/ssh/ssh_host_ed25519_key
HostKey                         /etc/ssh/ssh_host_rsa_key

allowagentforwarding            {{ _openssh_allowagentforwarding }}
allowtcpforwarding              {{ _openssh_allowtcpforwarding }}
compression                     {{ _openssh_compression }} 
disableforwarding               {{ _openssh_disableforwarding }}
###exposeauthinfo                  {{ _openssh_exposeauthinfo }}
ignorerhosts                    {{ _openssh_ignorerhosts }}
kbdinteractiveauthentication    {{ _openssh_kbdinteractiveauthentication }}
X11Forwarding                   {{ _openssh_X11Forwarding }}
permittty                       {{ _openssh_permittty }}
permituserrc                    {{ _openssh_permituserrc }}
tcpkeepalive                    {{ _openssh_tcpkeepalive }}

gssapiauthentication            {{ _openssh_gssapiauthentication }}
gssapicleanupcredentials        {{ _openssh_gssapicleanupcredentials }}
gssapikeyexchange               {{ _openssh_gssapikeyexchange }}
gssapistorecredentialsonrekey   {{ _openssh_gssapistorecredentialsonrekey }}
gssapistrictacceptorcheck       {{ _openssh_gssapistrictacceptorcheck }}

kerberosauthentication          {{ _openssh_kerberosauthentication }}
kerberosorlocalpasswd           {{ _openssh_kerberosorlocalpasswd }}
kerberosticketcleanup           {{ _openssh_kerberosticketcleanup }}

banner                          {{ _openssh_banner }}
printlastlog                    {{ _openssh_printlastlog }}
PrintMotd                       {{ _openssh_PrintMotd }}
LogLevel                        {{ _openssh_LogLevel }}
Subsystem                       {{ _openssh_Subsystem }}
SyslogFacility                  {{ _openssh_SyslogFacility }}

StrictModes                     {{ _openssh_StrictModes }}
maxauthtries                    {{ _openssh_maxauthtries }}
maxsessions                     {{ _openssh_maxsessions }}
AuthenticationMethods           {{ _openssh_AuthenticationMethods }}
AuthorizedKeysFile              {{ _openssh_AuthorizedKeysFile }}
ChallengeResponseAuthentication {{ _openssh_ChallengeResponseAuthentication }}
PubkeyAuthentication            {{ _openssh_PubkeyAuthentication }}
PasswordAuthentication          {{ _openssh_PasswordAuthentication }}
PermitEmptyPasswords            {{ _openssh_PermitEmptyPasswords }}
PermitRootLogin                 {{ _openssh_PermitRootLogin }}
usedns                          {{ _openssh_usedns }}
UsePAM                          {{ _openssh_UsePAM }}

AcceptEnv                       {{ _openssh_AcceptEnv }}
AllowGroups                     {{ _openssh_AllowGroups }}
