# {{ ansible_managed }} by role {{ role_name }}"
export HISTFILE={{ _setup_history_HISTFILE }}
export HISTTIMEFORMAT="{{ _setup_history_HISTTIMEFORMAT }}"
export HISTFILESIZE="{{ _setup_history_HISTFILESIZE }}"
export HISTCONTROL=""
export PROMPT_COMMAND="{{ _setup_history_PROMPT_COMMAND }}"
{{ _setup_history_SHOPT }}
