# {{ ansible_managed }} by role {{ role_name }}"
{% for key, value in _mtag_iss_users.items() %}
{% if value.sudo | bool and value.state != "absent" %}
{{ '%-25s' | format(key) }}     ALL=(ALL) NOPASSWD: ALL
{% endif %}
{% endfor %}