# Key = Value options
{% if _pg_master_settings_kv|length %}
{% for k,v in _pg_master_settings_kv.items()|sort %}
{{ "{:35}".format(k,) }} =   {{ v }}
{% endfor %}
{% endif %}

# Single keys which represent an option
{% if _pg_master_settings_k|length %}
{% for k in _pg_master_settings_k|sort %}
{{ k }}
{% endfor %}
{% endif %}
